<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'specialties')}">

  <body>

    <h2>Vet Specialties</h2>
    
    <table id="specialties" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Name</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="type : ${specialties}">
              <td>
                  <a th:href="@{/vetspecialties/__${type.id}__}" th:text="${type.name}"/></a>
              </td>
          </tr>
        </tbody>
    </table>
    <br />
  	<a class="btn btn-default" th:href="@{/vetspecialties/new}">Add Vet Specialty</a>

  </body>
</html>